   
	<mat-expansion-panel  [(expanded)]="xpandStatus">
  <mat-expansion-panel-header>
      <mat-panel-title>
          Extrato
      </mat-panel-title>
      
      <mat-icon class="fas fa-money-check nav-icon"></mat-icon>
  
  </mat-expansion-panel-header>


   

<mat-action-row>
  <div class="button-row">
      <button name="buttonDangr" type="button" class="btn btn-danger" (click)="xpandStatus=xpandStatus?false:true">Cancelar</button>
 
 
      <button name="buttonSucss"  type="button" class="btn btn-success"  (click)="nextStep()">Confirmar</button>
  </div> 
</mat-action-row>
</mat-expansion-panel>