<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 class="align-middle text-dark font-weight-bold">
                <i class="fa fa-exchange-alt"></i> Operacoes
                <hr>
                
            </h3>
           
            <div class="container-xl pt-3">
                <div class="row">
                    
                <div class="box">
                    <app-saque></app-saque>              
                   
                </div>

                <div class="box">
                    <app-deposito></app-deposito>
                </div>

                <div class="box">
                    <app-transferencia></app-transferencia>
                </div>
                <div class="box">
                    <app-consultarextrato></app-consultarextrato>
                </div>

            </div>
        </div>

    </div>
   
    <router-outlet></router-outlet>
</div>


