.mat-expansion-panel {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
   
  }

  .mat-expansion-panel.mat-expanded,
  .mat-expansion-panel.mat-expanded:hover,
  .mat-expansion-panel.mat-expanded:focus  {
    background-color: #f5f5f5 !important;

  }
    
  .mat-expansion-panel-header.mat-expanded,
  .mat-expansion-panel-header.mat-expanded:hover,
  .mat-expansion-panel-header.mat-expanded:focus,
  .mat-expansion-panel-header:hover 
   {
    background-color: #e2e2e2 !important;
  }
  
  
   
  .button-row button{
    margin-right: 10px;
  }

